html, body {
    font-family: "Courier New", Monospace;
    font-weight: bold;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* temporary: show element positions on the screen */
#section > * {
  border: 1px solid black;
  margin: 0.2em;
  padding: 0;
}

/* Padding so the user doesn't draw right on the edge */
#game_board {
    padding: 5em;
}

/* The formatting for the point drawing area */
#inner_game {
    height: 100%;
    width: 100%;
}

#section > #nav         { flex: 2 }
#section > #messages    { flex: 3 }
#section > #game_board  { flex: 30 }
#section > #controls    { flex: 2 }
