/* Point number selection table formatting */
table {
    font-family: "Courier New", Monospace;
    font-weight: bold;
    margin: 0.2em auto 0.2em auto;
    color: aqua;
    text-align: center;
    font-size: 3.2vw;
    
    }
    table td {
      text-align: center;
    }

/* Prompt to select points formatting */
 #selectPointsPrompt {
     margin: 1.2em auto 1.0em auto;
     padding: 0;
     color: aqua;
     text-align: center;
     font-size: 2.9vw;
 }

 /* Special factor formatting */
 #selectPointsFactor {
     margin: 1.0em auto 1.0em auto;
     padding: 0;
     color: aqua;
     text-align: center;
     font-size: 2.9vw;
 }

 /* Formatting for the point selection wrapper */
  #pointSelection {
    margin: 1.0em auto 1.0em auto;
    padding: 0;
    color: aqua;
    text-align: center;
    font-size: 2.9vw;
  }

  /* Formatting for the selection table */
  #pointTable {
      user-select: none;
      -moz-user-select: none;
      font-size: 4.0vw;
      margin: 1.2em auto 1.2em auto;
  }

  /* Formatting for the elements in the list */
  .pointListElements {
      padding: 0;
      width: 3.5em;
  }
  