
ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav #title{
    display: block;
    flex-grow: 4;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

ul.topnav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #00ffff;}

#canvas {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

#content > * {
    border: 3px solid black;
    margin: 0.2em;
    padding: 0;
}

#content > #tutorial {
    padding: 1em;
}

#tutorial_box {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

#video-wrapper {
    width: 40%;
    aspect-ratio: 16/9;
}

#video {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 200px) {
    ul.topnav  {flex-direction: column;
                justify-content:center;}
}

#content> #messages     { flex: 1 }
#content > #tutorial    { flex: 20 }



