
/*ul.topnav {*/
/*    display: flex;*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*    background-color: #333;*/
/*}*/

/*ul.topnav #title{*/
/*    display: block;*/
/*    flex-grow: 4;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;}*/

/*ul.topnav li a {*/
/*    display: block;*/
/*    color: #ffffff;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*}*/

/*ul.topnav li a:hover:not(.active) {background-color: #111;}*/

/*ul.topnav li a.active {background-color: #00ffff;}*/

body
{
    color: darkblue;
}

#canvas {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

#content > #tutorial {
    padding: 1px;
}

#h3
{
    font-weight: bolder;
}

.imageContainer
{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

}

.image
{
    width: 100%;
}

.controlButton
{
    max-height: 2em;
    max-width: 2em;
    width: 100%;

}

#tutorial_box
{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

#video-wrapper {
    width: 60%;
    aspect-ratio: 16/9;
}

#video {
    height: 100%;
    width: 100%;
}

/*@media screen and (max-width: 200px) {*/
/*    ul.topnav  {flex-direction: column;*/
/*                justify-content:center;}*/
/*}*/
@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}





